/* CSS variables */
:root {
    --game-size: 3
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    max-width: 80vmin;
    text-align: center;
    caret-color: transparent;
}

section {
    margin: 20px 0px 50px 0px;
}

button {
    background-color: black;
    color: white;
    border: 0;
    border-radius: 0;
    transition: 0.25s;
    height: 22px;
    margin-left: 35px;
}

button:hover {
    background-color: grey;
    cursor: pointer;
}

input {
    width: 50px;
    height: 100%;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

p {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 50px;
}

header {
    height: 50px;
}

footer {
    opacity: 60%;
    margin-top: 40px;
    border-top: 1px solid rgba(0,0,0, 0.2);
    text-align: left;
}

.coord {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: calc(80vmin/var(--game-size));
    font-size: calc(80vmin/var(--game-size)*0.8);
}

.coord:hover {
    cursor: pointer;
}

#display {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
    align-content: center;
}

.o {
    color: palegreen;
}

.x {
    color: palevioletred;
}