/* CSS variables */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=VT323&display=swap');

:root {
    --game-size: 3;
    --gap: 3px;
    --reduced-row: calc(var(--game-size)-2);
    --total-free-height: calc(var(--gap) * var(--reduced-row))
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    max-width: 60vmin;
    text-align: center;
    caret-color: transparent;
    background-color: rgb(0, 58, 99);
    color: white;
}

header {
    height: 50px;
    padding-bottom: 25px;
}

section {
    margin: 20px 0px 50px 0px;
    display: flex;
    flex: 1 1 1;
    justify-content: space-evenly;
    font-size: 80%;
}

footer {
    opacity: 60%;
    margin-top: 40px;
    border-top: 1px solid white;
    text-align: left;
    font-size: 1vmin;
}

span {
    flex-basis: 100%;
    text-align: center;
}

button {
    background-color: white;
    color: black;
    border: 0;
    border-radius: 0;
    height: 22px;
}

button:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

h1 {
    font-size: 5vmin;
    margin-bottom: 0;
}

p {
    font-size: 3vmin;
    margin-top: 15px;
    margin-bottom: 50px;
}

.botButton {
    background-color: grey;
}

.coord {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 58, 99);
    color: white;
    height: calc((60vmin - var(--total-free-height))/var(--game-size));
    font-size: calc(80vmin/var(--game-size)*0.6);
    font-family: 'Finger Paint', cursive;
}

.coord:hover {
    cursor: pointer;
}

.o {
    color: palegreen;
}

.x {
    color: palevioletred;
}

.O {
    color: rgba(152, 251, 152, 0.5);
}

.X {
    color: rgba(216, 112, 147, 0.5);
}

.bot {
    font-family: 'VT323', monospace;
    font-size: calc(80vmin/var(--game-size)*0.75);
}

.botAvailable {
    background-color: #ffffa2
}

.botOn {
    background-color: red;
}

#display {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    align-content: center;
}

#numInput {
    width: 40px;
    height: 75%;
}

#reset {
    background-color: white;
    color: black;
    border: 0;
    border-radius: 0;
    height: 22px;
    margin-right: 10px;
}

#reset:hover {
    background-color: rgb(210, 210, 210);
}